<div>
  <h1 class="font-bold text-4xl">ホーム</h1>
  <p>Loto7 のデータページです</p>
  <table>
    <tbody>
      <tr>
        <th>回数</th>
        <th>１</th>
        <th>２</th>
        <th>３</th>
        <th>４</th>
        <th>５</th>
        <th>６</th>
        <th>７</th>
        <th>ボーナス</th>
        <th>ボーナス</th>
        <th>開催日</th>
        <th>１等</th>
        <th>２等</th>
        <th>３等</th>
        <th>４等</th>
        <th>５等</th>
        <th>６等</th>
      </tr>
        <tr>
          <td><%= @loto7.times %></td>
          <td><%= @loto7.first %></td>
          <td><%= @loto7.second %></td>
          <td><%= @loto7.third %></td>
          <td><%= @loto7.forth %></td>
          <td><%= @loto7.fifth %></td>
          <td><%= @loto7.sixth %></td>
          <td><%= @loto7.seventh %></td>
          <td><%= @loto7.bonusfirst %></td>
          <td><%= @loto7.bonussecond %></td>
          <td><%= Time.parse("#{@loto7.announcement}").strftime('%Y年%m月%d日') %></td>
          <td><%= @loto7.firstcounts %></td>
          <td><%= @loto7.secondcounts %></td>
          <td><%= @loto7.thirdcounts %></td>
          <td><%= @loto7.forthcounts %></td>
          <td><%= @loto7.fifthcounts %></td>
          <td><%= @loto7.sixthcounts %></td>
        </tr>
    </tbody>
  </table>
</div>
