<div class="container mt-16 mx-auto px-8 md:px-14 lg:px-24 w-full min-h-screen">
  <div class="flex justify-center">
    <h1 class="font-bold text-3xl">ロト７</h1>
  </div>

  <div class="mt-10">
    <h2 class="text-lg font-bold">ルール</h2>
    <hr>
    <p class="mt-2 text-sm">
      ロト７は1〜37の数字の中から異なる7つの数字を選ぶ宝くじです。<br>
      １口３００円で、宝くじ売り場、ネット販売、一部の銀行のATM、一部のコンビニで購入することができます。
    </p>
  </div>
  
  <div class="mt-10">
    <h2 class="text-lg font-bold">結果発表</h2>
    <hr>
    <p class="mt-2 text-sm">
      毎週金曜日
      18:45〜　抽選会のライブ中継あり。詳しくは宝くじ公式サイトをご覧ください。
    </p>
  </div>

  <div class="mt-10 ">
    <h2 class="text-lg font-bold">購入期間</h2>
    <hr>
    <p class="mt-2 text-sm">
      宝くじ売り場では、毎日8:00 〜 18:30、抽せん日（金曜日）の発売は18:30まで。<br>
      宝くじ公式サイトでは、24時間いつでも販売。 抽せん日（金曜日）の発売は18:20まで。18:20以降は翌発表日分扱い。<br>
      その他ネット販売、銀行ATM、コンビニエンスストアはホームページをご確認ください。
    </p>
  </div>
  <div class="mt-10">
    <h2 class="text-lg font-bold">当選の見方</h2>
    <hr>
    <p class="mt-2 text-sm">
      1等：申込数字が本数字7個と全て一致<br>
      2等：申込数字が本数字6個と一致し、更にボーナス数字2個のうち1個と一致<br>
      3等：申込数字が本数字6個と一致<br>
      4等：申込数字が本数字5個と一致<br>
      5等：申込数字が本数字4個と一致<br>
      6等：申込数字が本数字3個と一致し、更にボーナス数字1個または2個と一致<br>
    </p>
  </div>

  <div class="mt-10 ">
    <div>
      <h2 class="text-lg font-bold">最新の結果</h2>
      <hr>
      
    </div>
    <div class="mt-3">
      <table class="table-fixed">
        <caption class="caption-top">
          第<%= @loto7.times %>回     更新日： <%= Time.parse("#{@loto7.announcement}").strftime('%Y年%m月%d日') %>
        </caption>
        <thead>
          <tr>
            <th colspan=7 class="th_w_7 bg-amber-200">本数字</th>
            <th colspan=2 class="th_w_2 bg-pink-200">ボーナス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td_w bg-amber-100"><%= @loto7.first %></span></td>
            <td class="td_w bg-amber-100"><%= @loto7.second %></td>
            <td class="td_w bg-amber-100"><%= @loto7.third %></td>
            <td class="td_w bg-amber-100"><%= @loto7.forth %></td>
            <td class="td_w bg-amber-100"><%= @loto7.fifth %></td>
            <td class="td_w bg-amber-100"><%= @loto7.sixth %></td>
            <td class="td_w bg-amber-100"><%= @loto7.seventh %></td>
            <td class="td_w bg-pink-100"><%= @loto7.bonusfirst %></td>
            <td class="td_w bg-pink-100"><%= @loto7.bonussecond %></td>
          </tr>
        </tbody>
      </table>


      <table class="table_rows_style mt-5 mb-12">
        <caption class="caption-top">
          当選情報
        </caption>
          <tr>
            <th class="table_rows_th_style">１等</th>
            <td class="table_rows_td_style"><%= @loto7.firstcounts %>&nbsp;口</td>
          </tr>
          <tr>
            <th class="table_rows_th_style">２等</th>
            <td class="table_rows_td_style"><%= @loto7.secondcounts %>&nbsp;口</td>
          </tr>
          <tr>
            <th class="table_rows_th_style">３等</th>
            <td class="table_rows_td_style"><%= @loto7.thirdcounts %>&nbsp;口</td>
          </tr>
          <tr>
            <th class="table_rows_th_style">４等</th>
            <td class="table_rows_td_style"><%= @loto7.forthcounts %>&nbsp;口</td>
          </tr>
          <tr>
            <th class="table_rows_th_style">５等</th>
            <td class="table_rows_td_style"><%= @loto7.fifthcounts %>&nbsp;口</td>
          </tr>
          <tr>
            <th class="table_rows_th_style">６等</th>
            <td class="table_rows_td_style"><%= @loto7.sixthcounts %>&nbsp;口</td>
          </tr>
      </table>
    </div>
  </div>
</div>

<%= render 'footer' %>
