<h1>hello</h1>
<% @search_results.each do |result| %>
<p><%= result.first %>,  <%= result.second %>、 <%= result.third %>、 
<%= result.forth %>、 <%= result.fifth %>、 <%= result.sixth %>、 <%= result.seventh %></p>
<p><%= result.announcement %></p>
<hr>
<% end %>