<div id="<%= dom_id loto7 %>">

  <table class="mb-3 th_pd_border">
    <caption class="mt-3">
      第<%= loto7.times  %> 回&nbsp; 更新日：<%= Time.parse("#{loto7.announcement}").strftime('%Y年%m月%d日') %>
    </caption>
    <thead>
      <tr>
        <th colspan=7 class="th_w_7 th_pd_border">
          本数字
        </th>
        <th colspan=2 class="th_w_2 th_pd_border">
          ボーナス
        </th>
        <th class="th_pd_border">
          １等
        </th>
        <th class="th_pd_border">
          2等
        </th>
        <th class="th_pd_border">
          3等
        </th>
        <th class="th_pd_border">
          4等
        </th>
        <th class="th_pd_border">
          5等
        </th>
        <th class="th_pd_border">
          6等
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="th_pd_border">
          <%=loto7.first%>
        </td>
        <td class="th_pd_border"> 
          <%=loto7.second%>
        </td>
        <td class="th_pd_border">
          <%=loto7.third%>
        </td>
        <td class="th_pd_border">
          <%=loto7.forth%>
        </td>
        <td class="th_pd_border">
          <%=loto7.fifth%>
        </td>
        <td class="th_pd_border">
          <%=loto7.sixth%>
        </td>
        <td class="th_pd_border">
          <%=loto7.seventh%>
        </td>
        <td class="th_pd_border">
          <%=loto7.bonusfirst%>
        </td>
        <td class="th_pd_border">
          <%=loto7.bonussecond%>
        </td>
        <td class="th_pd_border">
          <%=loto7.firstcounts%>
        </td>
        <td class="th_pd_border">
          <%=loto7.secondcounts%>
        </td>
        <td class="th_pd_border">
          <%=loto7.thirdcounts%>
        </td>
        <td class="th_pd_border">
          <%=loto7.forthcounts%>
        </td>
        <td class="th_pd_border">
          <%=loto7.fifthcounts%>
        </td>
         <td class="th_pd_border">
          <%=loto7.sixthcounts%>
        </td>
      </tr>
    </tbody>
  </table>



  <% if action_name != "show" %>
    <%= link_to "Show this loto7", loto7, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this loto7', edit_loto7_path(loto7), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
