<div class="container m-auto mt-10 w-72 pl-9 th_pd_border bg-sky-100">
  <h2 class="pt-2 text-xl">ログイン画面</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field m-auto pt-2">
      <%= f.label :email, "Eメール" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field pt-2">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field pt-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログインしたままにする" %>
      </div>
    <% end %>

    <div class="actions pt-2 pb-2">
      <button class="btn btn-blue btn-blue:hover"><%= f.submit "ログイン" %></button>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>

</div>
